@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root {
	--color-bg: hsl(260, 8%, 14%); /* Very Dark Violet */
	--color-dark-blue: hsl(255, 11%, 22%);
	--color-grayish-violet: hsl(257, 7%, 63%);
	--color-gray: hsl(0, 0%, 75%);
	--color-gray-light: #eff1f6;

	--color-text-white: white;

	--color-point-cyan: hsl(180, 66%, 49%);
	--color-point-cyan-hover: hsl(180, 83%, 75%);
	--color-point-violet: hsl(257, 27%, 26%);
	--color-point-red: hsl(0, 87%, 67%);

	--border-radius: 0.5rem;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	font-size: 18px;
	color: var(--color-dark-blue);
}
h1 {
	font-size: 4rem;
	line-height: 120%;
}
p {
	color: var(--color-grayish-violet);
	font-size: 15px;
}
button {
	border: none;
	outline: none;
	padding: 0.5rem 2rem;
	border-radius: 1.5rem;
	margin: 2rem 0;

	background-color: var(--color-point-cyan);
	color: var(--color-text-white);
	font-size: 1rem;
	font-weight: 500;
}
button:hover {
	cursor: pointer;
	background-color: var(--color-point-cyan-hover);
}
/* --- Details ------------------------------------------------------------------- */

/* --- nav ------------------------------------------------------------------- */
main.wrapper {
	max-width: 1440px;
	display: flex;
	flex-direction: column; /* desktop layout */
	/* align-items: center; */
	/* padding: 3rem 0; */
}
nav {
	width: 80%;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
}
nav .logo-menu {
	display: inherit;
	flex-direction: row;
}
nav .logo {
	padding-right: 2rem;
}
nav menu a {
	padding: 0 1rem;
}

/* --- container__intro ------------------------------------------------------------------- */

.container__intro {
	width: 80%;
	min-width: 375px;
	margin: 0 auto 6rem auto;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: 3rem;
}
/* .container__intro .intro-img {
	width: 50%;
} */
.container__intro .intro-img {
	width: 50%;
	/* flex-grow: 1; */
	height: auto;
}

.container__intro .intro-text {
	width: 50%;

}
.container__intro .intro-text p {
	width: 80%;
	/* flex-grow: 8; */
	font-size: 1.2rem;
	/* margin: 0 auto; */
}
/* --- container__intro ------------------------------------------------------------------- */
.container__input {
	width: 80%;
	margin: -5rem auto;
	text-align: center;
	background-image: url('./images/bg-shorten-desktop.svg');
	background-color: var(--color-point-violet);
	border-radius: var(--border-radius);
	padding: 1rem 0;
	z-index: 1;
}
.container__input input {
	width: 50%;
	border: none;
	outline: none;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;

	font-size: 1rem;
}
#button-shorten {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}

/* --- container__info ------------------------------------------------------------------ */

.container__info {
	display: flex;
	flex-direction: column;
	padding: 12rem 0;
	background-color: var(--color-gray-light);
}
.info-text {
	display: flex;
	flex-direction: column;

	width: 50%;
	max-width: 450px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 2rem;
}
.info {
	display: flex;
	flex-direction: row;
}

div[class^='info-card-'] {
	background-color: white;
	margin: 3rem 1rem;
	border-radius: var(--border-radius);
	padding: 0 2rem 2rem 2rem;
}
div[class^='info-card-'] i {
	display: flex;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	background-color: var(--color-point-violet);
	border-radius: 2.5rem;

	margin-top: -2.5rem;
	margin-bottom: 2.5rem;
}
div[class^='info-card-'] i img {
	padding: 1.3rem;
}

/* --- container__boost ------------------------------------------------------------------ */
.container__boost {
	/* display: flex; */
	flex-direction: column;

	text-align: center;
	padding: 2rem 0;

	background-image: url('./images/bg-boost-desktop.svg');
	background-repeat: no-repeat;
	background-size: 100%;

	background-color: var(--color-point-violet);
	color: var(--color-text-white);
}

/* --- footer ------------------------------------------------------------------ */

footer {
	/* padding: 2rem 4rem; */
	color: var(--color-text-white);
	background-color: var(--color-bg);
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding: 2rem 0;
}
.attribution a {
	color: var(--color-gray);
}

/* ---- Media queries and other styles ---------------------------------------------------- */
@media screen and (max-width: 800px) {
	/* For mobile: (max-width: 480px)*/

	/* .container__intro {
		width: 80%;
		margin: 0 auto 6rem auto;
	
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		gap: 3rem;
	} */
	section[class^='container__'] {
		flex-direction: column;
	}
	nav {
		flex-direction: column;
	}
	.container__intro .intro-img{
		width: 40%;
	}
}
